{{#each getproductionrows}}
  <div class="col s12 m5 div-card">
      <div class="card-panel teal">
        <span class="white-text">
            <h5>{{name}}</h5>
            <p>{{direction}}</p>
            <p><b>{{price}} сом</b></p>
        </span>
      </div>
    </div>
{{/each}}


