<form action="/create" method="POST">
        <h1>Добавить пост</h1>
        <div class="input-field col s6">
          <input placeholder="Введите название продукта" type="text" name="name">
          <input placeholder="Введите описание" type="text" name="direction">
          <input placeholder="Введите цену" type="text" name="price">
          
          <button type="submit" class="btn">Create</button>
        </div>
</form>

